<ion-header>
  <ion-toolbar>
    <ion-title>
      Ivana Renee - Quiz 01
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 align = "center">Usuarios La Aceitera</h3>

  <ion-card *ngFor = "let s of numeros">
    <img src="{{json.sistema.usuarios[s].foto}}"/>
    <ion-card-content>
      <ion-card-title>
        {{json.sistema.usuarios[s].nombre}}
        {{json.sistema.usuarios[s].apellidos}}
      </ion-card-title>
      <h4>
        Edad: {{json.sistema.usuarios[s].edad}}
        Color: {{json.sistema.usuarios[s].color}}
      </h4>
    </ion-card-content>
  </ion-card>

  


</ion-content>
