<ion-header>
  <ion-toolbar>
    <ion-title>
      Ivana C
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content align = "center">
  <ion-grid style="background-color: cornsilk;">
    <ion-row>
      <ion-col>
        <div style ="font-weight: bold; color:cornflowerblue">
          Nombre
        </div>
      </ion-col>
      <ion-col>
        <div style ="font-weight: bold; color:cornflowerblue">
          Nacionalidad
        </div>
      </ion-col>
      <ion-col>
        <div style ="font-weight: bold; color:cornflowerblue">
          Edad
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          Charlie García 
        </div>
      </ion-col>
      <ion-col>
        <div>
          Filipino
        </div>
      </ion-col>
      <ion-col>
        <div style="width: 100px;">
          <img src="https://static.nationalgeographic.es/files/styles/image_885/public/koalas-australia-00523055.adapt_.885.1.jpg">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          Laura González
        </div>
      </ion-col>
      <ion-col>
        <div>
          Mexicana
        </div>
      </ion-col>
      <ion-col>
        <div style="width: 100px;">
          <img src="https://previews.123rf.com/images/studiovandam/studiovandam1702/studiovandam170200114/71407250-perrito-de-labrador-en-un-fondo-blanco-el-labrador-retriever-tambi%C3%A9n-labrador-es-un-tipo-de-perro-retr.jpg">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          Manuel Mota
        </div>
      </ion-col>
      <ion-col>
        <div>
          Filipino
        </div>
      </ion-col>
      <ion-col>
        <div style="width: 100px;">
          <img src = "https://images.vice.com/vice/images/content-images/2015/04/20/en-busca-de-la-mota-mas-poderosa-body-image-1429559838.jpg">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h1>Stacked</h1>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm style="background-color: #581845;">
        <div>
          1 of 4
        </div>
      </ion-col>
      <ion-col size="12" size-sm style="background-color: #900C3F;">
        <div>
          2 of 4
        </div>
      </ion-col>
      <ion-col size="12" size-sm style="background-color: #C70039;">
        <div>
          3 of 4
        </div>
      </ion-col>
      <ion-col size="12" size-sm style="background-color: #FF5733;">
        <div>
          4 of 4
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <h1>Offsetting</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="3" style="background-color: #B01337;">
        <div>
          1 of 2
        </div>
      </ion-col>
      <ion-col size="3" offset="3" style="background-color: #13B08C">
        <div>
          2 of 2
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

    <h1>Push and pull</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="9" push="3" style="background-color: #13B08C">
        <div>
          1 of 2
        </div>
      </ion-col>
      <ion-col size="3" pull="9" style="background-color: #B01337;">
        <div>
          2 of 2
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>ivanarenee@hotmail.com</ion-title>
  </ion-toolbar>
</ion-footer>

